<div class="activityRule"  ng-show="$state.current.name=='activityRule'||$state.current.name=='app.activityRule'">
    <div class="m-head">
        <img src="images/picture_hb.png" alt="紅包"/>
        <div class="u-xy">活动规则</div>
    </div>
    <div class="m-middle">
        <div>1、活动时间：2017年2月23日至2017年3月23日。</div>
        <div>2、参加活动需下载安装最新版客户端。</div>
        <div>3、用户（为与新注册用户区分，下称“老用户”）向好友分享活动链接，好友通过该链接注册为新用户并符合条件的，新用户可获得5元新人红包，老用户可获得3元拉新红包。</div>
        <div>
            <p>4、获得红包条件：</p>
            <p>1）新用户必须通过活动链接注册并关联宝宝，且从未在小豆苗注册过；</p>
            <p>2）新用户关联的宝宝为首次关联；</p>
            <p>3）新用户关联的宝宝年龄在0-3岁；</p>
            <p>4）新用户关联的宝宝所在地区已开通小豆苗对接服务；</p>
            <p>满足上述所有条件的新用户，即可获得新人红包；新用户登录小豆苗APP后向该新用户提供活动链接的老用户可获得对应的拉新红包。</p>
        </div>
        <div>5、新老用户获得的红包可在“我的-我的奖励-我的红包”中查看，需更新至客户端最新版本。</div>
        <div>6、新老用户可选择将红包直接换取支付宝现金红包，或兑换成抽奖机会：
            <p>1）领取支付宝现金红包：点击领取，输入支付宝账号，现金红包将在72小时后发放发放到该账号；</p>
            <p>2）红包抽奖：一个红包可兑换一次抽奖机会；抽奖获得的红包无法再兑换抽奖机会。</p>
        </div>
        <div>7、红包的有效期为30天（自发放日起算），逾期则视为放弃领取或兑换，红包失效。</div>
        <div>8、用户领取红包请先绑定手机号。</div>
        <div>9、每个用户最多只能获取100个红包（包括拉新红包、新人红包）。同一用户ID、同一手机号、同一设备、同一支付宝账号或其他可以合理显示为同一用户的情形，均视为同一用户。</div>
        <div>10、如有作弊行为（以小豆苗系统认定为准），一经发现，小豆苗有权取消其领奖资格、收回所有红包及抽奖奖品。</div>
        <div>11、参与本次活动的用户应提供真实、有效、正确的信息，否则责任自负。</div>
        <div>12、红包及奖品数量有限，领完即本活动终止。</div>
        <div>13、如您对本活动有任何疑问，可联系客服400-830-4188。</div>
        <div>14、深圳三代人科技有限公司保留在法律允许的范围内对本活动的解释权。</div>
        <div>15、本活动与苹果公司无关。</div>
    </div>
    <div class="m-head">
        <div class="u-xy">常见问题</div>
    </div>
    <div class="m-middle">
        <div>Q1.获得的红包在哪里查看和领取？
            <p>打开小豆苗APP，红包在“我的-我的奖励-我的红包”。</p>
        </div>
        <div>Q2.福袋中的“育儿课程”和“专家指导”在哪里领取？
            <p>打开小豆苗APP，进入“妈妈课堂-微课堂”可免费收听育儿讲座；进入“发现-问医生”可免费向专家提问。</p>
        </div>
        <div>Q3.新用户注册时，为什么提示我“不符合红包领取条件”？（具体条件见活动规则第4条）
            <p>不符合条件的，将无法获得新人红包；不过您可以邀请其他好友，赚取拉新红包哦。</p>
        </div>
        <div>Q4.邀请好友成功后，好友获得了红包，为什么我却没有收到红包？
            <p>1）好友必须是通过您发的链接注册的，而不是其他人的链接；</p>
            <p>2）好友需下载小豆苗APP并首次登录后，您的红包才会发放。</p>
        </div>
        <div>Q5.我已符合红包领取条件，但仍然没有收到红包？
            <p>请您联系客服查询具体情况，客服电话：400-830-4188。</p>
        </div>
        <div>Q6.我已提交支付宝账号，为什么一直没有收到红包？
          <p>账号提交72小时后发放才会发放，请耐心等待哦~</p>
        </div>
    </div>
    <div class="m-footer"></div>
</div>
