<div class="userAgreement">
    <h1>一、总则</h1>
    <p>1.1 本《用户协议》（下称《协议》）是您（下称“用户”）与深圳三代人科技有限公司（下称：三代人科技）之间关于用户安装使用“小豆苗”，以及使用本软件相关服务（下称“本服务”）所订立的协议。</p>
    <p>1.2 三代人科技提醒您在使用本服务前认真阅读、充分理解本服务条款、包括免除或限制三代人科技责任的免责条款以及对使用本服务的用户权利的限制条款。请您审慎阅读并确认（未成年人应在法定监护人陪同下阅读和使用）。</p>
    <p>1.3 一旦您选择同意本服务条款或使用本服务，则说明您已了解并完全同意本服务条款。三代人科技有权随时修改下述条款和条件，并只需公示于本服务，而无需征得您的事先同意。修改后的条款于公示时即时生效。在本服务公示修改后的服务条款后，您继续使用本服务的，视作您已接受修改后的条款。</p>
    <h1>二、服务概要</h1>
    <p>2.1 本服务提供您所选择当地的免疫规划一类疫苗（免费）和二类疫苗（自费）接种程序、接种日期倒计时提醒、预防接种单位信息，相关疾病的科普知识，以及预约接种时间（限于已开通本服务的地区和接种单位）等。三代人科技保留随时变更、中断或终止部分或全部服务的权利。</p>
    <h1>三、服务风险及免责声明</h1>
    <p>3.1 本服务所提供的信息，只供参考之用，不用于任何商业用途。本服务所提供的预防接种知识及预防接种单位信息，旨在方便用户自己管理家庭中适龄儿童的预防接种。如本服务所载信息与预防接种单位实际情况有出入，以最终提供合法预防接种服务单位的咨询结果为准。本服务中的疾病类的相关知识旨在科普宣传所用，如用户在日常生活中出现文中所提及症状，应尽早前往医院就医。本服务不对用户依照本服务提供的信息所作的决定以及所产生的结果承担任何直接或间接的法律责任。</p>
    <p>3.2 用户知晓并同意，本服务所提供的预防接种及育儿相关的健康咨询服务，仅作一般参考，不作为任何医学诊断、治疗或用药依据，用户如需获得诊断或治疗，应尽早前往医院就医，若擅自将咨询建议作为诊治、救护措施或处方用药依据使用，由此产生的一切风险或损失，与三代人科技无关。</p>
    <p>3.3 三代人科技不保证向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由本服务实际控制的任何网页上的内容，三代人科技不承担任何责任。</p>
    <p>3.4 三代人科技保留自行决定更正本服务中任何部分的任何错误或遗漏的权利。</p>
    <p>3.5 用户不得通过本服务发布任何违法违规的信息内容。根据有关法律法规，任何经由本服务以上载、张贴、发送即时消息、电子邮件或任何其他方式传送的资讯、资料、文字、软件、音乐、音讯、照片、图形、视讯、信息、用户的登记资料或其他资料（以下简称“内容”），均由内容提供者承担责任。三代人科技无法控制经由本服务传送之内容，也无法对用户的使用行为进行全面控制，因此不保证内容的合法性、正确性、完整性、真实性或品质；在任何情况下，三代人科技均不为任何内容负责，有权依法停止传输任何前述内容并采取相应行为，包括但不限于暂停用户使用本服务的全部或部分，保存有关记录，并向有关机关报告。</p>
    <p>3.6 本服务所进行的一切抽奖等活动（若有），均由三代人科技承担相应义务，与苹果公司（Apple Inc.）无关。</p>
    <h1>四、用户隐私保护</h1>
    <p>4.1 用户同意注册，即视为同意三代人科技收集、获取、使用用户个人信息及其儿童的关联（同步）信息（包括儿童姓名、性别、出生日期、儿童编码、接种证条码、儿童当前门诊、接种记录、预约接种记录、以及用户主动输入的预留手机号码等），以用于向用户提供更准确、优质的服务。</p>
    <p>4.2 三代人科技会采取合理的措施保护用户上传或基于用户确认可采集和获取的个人隐私信息，除法律或有法律赋予权限的政府部门要求或用户同意等原因外，不向第三方公开、透露上述信息。</p>
    <h1>五、知识产权声明</h1>
    <p>三代人科技拥有本服务内所有内容的知识产权，所有这些内容受版权、商标和其它财产所有权法律的保护。任何人只有在获得三代人科技的书面授权之后才能使用这些内容，而不能擅自复制、修改、制作衍生产品、进行还原工程、反向编译，或以其它方式转移软件的任何权利，或用于任何商业目的。 </p>
    <h1>六、其他条款</h1>
    <p>本《协议》签订地约定为深圳。本《协议》的解释、效力及纠纷的解决，适用于中华人民共和国法律。若用户和深圳三代人科技有限公司之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户在此完全同意将纠纷或争议提交深圳三代人科技有限公司住所地即深圳市有管辖权的人民法院管辖。</p>
</div>